body {
    background-color: #FF8;
    min-width: 400px;
    min-height: 200px;
}

ul {
    padding-left: 3vw;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2rem;
    list-style-image: url(./Icons/x-mark.png);
}

button {
    color: #FFF;
    border-radius: 10%;
    font-size: 1rem;
    font-family: 'Anton', sans-serif;
}

#new_do {
    padding: 0.5rem 1rem;
    background-color: #cca302;
    border: 1px solid #cca302;
}

#del_all {
    padding: 0.5rem;
    background-color: #724b11;
    border: 1px solid #724b11
}